## 1. import , read
Pandas 패키지를 Import 하고 실습 데이터 파일(Ecommerce Purchases)을 read 하세요.  
그 다음, Pandas Dataframe 형식으로 ecom 이라는 변수에 저장해보세요.

In [3]:
import pandas as pd

In [5]:
ecom = pd.read_csv('Ecommerce Purchases.csv')

## DataFrame 의 앞부분과 뒷부분 확인하여, 데이터 생긴 거 미리보기

In [6]:
ecom.head(2)

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73

In [7]:
ecom.tail(2)

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
9998,"0096 English Rest\nRoystad, IA 12457",74 cL,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_8;...,Cook Inc,180003348082930,11/17,987,American Express,elizabethmoore@reid.net,Local government officer,55.78.26.143,es,38.84
9999,"40674 Barrett Stravenue\nGrimesville, WI 79682",64 Hr,AM,Mozilla/5.0 (X11; Linux i686; rv:1.9.5.20) Gec...,Greene Inc,4139972901927273,02/19,302,JCB 15 digit,rachelford@vaughn.com,"Embryologist, clinical",176.119.198.199,el,67.59

## .info()
몇 개의 컬럼과 행이 있는지 확인해보기

In [8]:
ecom.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Address           10000 non-null  object
 1   Lot               10000 non-null  object
 2   AM or PM          10000 non-null  object
 3   Browser Info      10000 non-null  object
 4   Company           10000 non-null  object
 5   Credit Card       10000 non-null  int64
 6   CC Exp Date       10000 non-null  object
 7   CC Security Code  10000 non-null  int64
 8   CC Provider       10000 non-null  object
 9   Email             10000 non-null  object
 10  Job               10000 non-null  object
 11  IP Address        10000 non-null  object
 12  Language          10000 non-null  object
 13  Purchase Price    10000 non-null  float64
dtypes: float64(1), int64(2), object(11)
memory usage: 1.1+ MB

In [9]:
ecom.describe()

        Credit Card  CC Security Code  Purchase Price
count  1.000000e+04      10000.000000    10000.000000
mean   2.341374e+15        907.217800       50.347302
std    2.256103e+15       1589.693035       29.015836
min    6.040186e+10          0.000000        0.000000
25%    3.056322e+13        280.000000       25.150000
50%    8.699942e+14        548.000000       50.505000
75%    4.492298e+15        816.000000       75.770000
max    6.012000e+15       9993.000000       99.990000

## .mean()
평균 구매 가격(Purchase Price) 확인하기

In [10]:
ecom.mean()

Credit Card         2.341374e+15
CC Security Code    9.072178e+02
Purchase Price      5.034730e+01
dtype: float64

In [11]:
ecom.mean(axis=1)

0       2.003976e+15
1       1.112586e+15
2       2.253192e+11
3       2.003860e+15
4       2.003819e+15
            ...
9995    1.143150e+14
9996    7.001106e+13
9997    2.003847e+15
9998    6.000112e+13
9999    1.379991e+15
Length: 10000, dtype: float64

In [ ]:
ecom.mean(axis=0)

Credit Card         2.341374e+15
CC Security Code    9.072178e+02
Purchase Price      5.034730e+01
dtype: float64


### 문제1. 구매 가격(Purchase Price)의 최대값, 최소값 구하기

In [45]:
max_price=ecom['Purchase Price'].max()
max_price

99.99

### 문제2. (문제1을 )반올림하여 구하기`

In [15]:
round(max_price)

100.0

## .count()
웹사이트에 얼마나 많은 사람들이 언어(Language)를 English로 하는 지 알아보기

### 문제1. : # 'Language' 컬럼값이 'en' 인 데이터의 신용카드(Credit Card) 개수 세기

In [82]:
# ecom[ecom['Language']=="en"].count()['Credit Card']


ecom.loc[ecom['Language']=="en","Credit Card"].count()  #이게 연산이 더 빠름

1098

In [85]:
len(ecom.loc[ecom['Language']=="en","Credit Card"].unique()) # 중복없는 개수

1098

### 문제2. : # 직업('Job')이 변호사('Lawyer')인 사람수 구하기

In [86]:
# ecom[ecom['Job']=='Lawyer'].count()

ecom.loc[ecom['Job']=="Lawyer"].count()

Address             30
Lot                 30
AM or PM            30
Browser Info        30
Company             30
Credit Card         30
CC Exp Date         30
CC Security Code    30
CC Provider         30
Email               30
Job                 30
IP Address          30
Language            30
Purchase Price      30
dtype: int64

## .value_counts()
### 문제1. 얼마나 많은 사람들이 오전(AM)과 오후(PM)에 구매를 하는 지 알아보기

In [29]:
ecom['AM or PM'].value_counts()

PM    5068
AM    4932
Name: AM or PM, dtype: int64

### 문제2. 가장 흔한 직업 상위 5개 알아보기

In [92]:
# ecom['Job'].value_counts().head()

ecom['Job'].value_counts().sort_values().head()

Information systems manager    5
Investment analyst             5
Actuary                        6
Editor, film/video             6
Prison officer                 7
Name: Job, dtype: int64

### 문제3. 가장 흔한 직업 하위 5개 알아보기

In [89]:
ecom['Job'].value_counts().tail()

Music therapist                7
Actuary                        6
Editor, film/video             6
Investment analyst             5
Information systems manager    5
Name: Job, dtype: int64

## specific variable values

### 문제1. '90 WT' 지역에서 구매된 거래 금액 확인하기

In [48]:
ecom[ecom['Lot']=="90 WT"]['Purchase Price']

513    75.1
Name: Purchase Price, dtype: float64

### 문제2. 신용카드번호 4926535242672853 이용자의 이메일 주소 찾기

In [50]:
ecom[ecom['Credit Card']==4926535242672853]['Email']

1234    bondellen@williams-garza.com
Name: Email, dtype: object

## 'And' or 'Or'
### 문제1. 얼마나 많은 사람들이 American Express 카드로 95달러 초과로 결제하는 지 알아보기

In [61]:
ecom[(ecom["CC Provider"]=="American Express") & (ecom["Purchase Price"]>95)].count()

Address             39
Lot                 39
AM or PM            39
Browser Info        39
Company             39
Credit Card         39
CC Exp Date         39
CC Security Code    39
CC Provider         39
Email               39
Job                 39
IP Address          39
Language            39
Purchase Price      39
dtype: int64

In [58]:
ecom[ecom["Purchase Price"]>95]

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
9,"3795 Dawson Extensions\nLake Tinafort, ID 88739",15 Ug,AM,Mozilla/5.0 (X11; Linux i686; rv:1.9.7.20) Gec...,"Rivera, Buchanan and Ramirez",4396283918371,01/17,931,American Express,qcoleman@hunt-huerta.com,Forensic scientist,236.198.199.8,zh,95.63
10,"650 Elizabeth Park\nLake Maria, LA 13526-2530",65 Yn,PM,Mozilla/5.0 (iPod; U; CPU iPhone OS 4_1 like M...,"Strickland, Michael and Gonzales",180036417827355,02/17,754,Voyager,ustewart@hotmail.com,"Development worker, community",26.59.93.1,el,96.89
23,"25292 Shepherd Trail Apt. 798\nRussellmouth, S...",31 pS,PM,Mozilla/5.0 (compatible; MSIE 5.0; Windows 98;...,Cruz Inc,502010078983,02/23,60,VISA 13 digit,ltaylor@gardner-meadows.com,Field seismologist,25.193.145.116,ru,97.97
35,"93392 Webb Gardens Apt. 220\nLaurabury, AR 999...",37 om,AM,Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_7...,Mora Ltd,6011049630969815,09/16,367,Mastercard,hgonzalez@mcdowell.com,"Lecturer, further education",216.23.95.40,zh,97.46
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9885,"82535 Gay Bypass\nNew Kathryn, AZ 05190",39 vm,PM,Mozilla/5.0 (Windows NT 5.2) AppleWebKit/5361 ...,Phillips LLC,501816385980,07/26,584,Discover,mitchellricky@hotmail.com,Patent attorney,72.117.117.228,ru,97.63
9886,"037 Kelsey Knolls Suite 020\nTorresmouth, UT 5...",56 SL,AM,Mozilla/5.0 (Windows NT 5.0) AppleWebKit/5320 ...,Thompson-Moore,4893575931765,09/17,663,JCB 16 digit,samanthasims@hotmail.com,Social worker,55.145.120.78,el,97.36
9934,"52276 Smith Cliffs\nLake Vanessaview, AL 91791",40 nG,AM,Opera/9.62.(Windows NT 5.0; sl-SI) Presto/2.9....,Clay LLC,5148775191773208,05/23,583,VISA 16 digit,popejames@yahoo.com,Consulting civil engineer,130.63.250.128,el,99.75
9958,"PSC 8781, Box 4214\nAPO AP 94478",72 Ez,AM,Mozilla/5.0 (iPod; U; CPU iPhone OS 3_0 like M...,"Logan, Anderson and Martin",210030902457830,08/24,597,Maestro,reynoldsrick@yahoo.com,Industrial/product designer,26.86.9.173,en,99.86
9967,"409 Holland Drives\nWhitetown, ME 78654",38 aX,AM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,Singleton Inc,869944453111857,04/26,602,Diners Club / Carte Blanche,gina95@gmail.com,Television camera operator,120.205.69.231,es,98.42

### 문제2. 얼마나 많은 사람들이 95달러 초과로 결제하거나 10달러 미만으로 구매하는 지 알아보기

In [62]:
ecom[(ecom["Purchase Price"]>95) | (ecom["Purchase Price"]<10)].count()

Address             1502
Lot                 1502
AM or PM            1502
Browser Info        1502
Company             1502
Credit Card         1502
CC Exp Date         1502
CC Security Code    1502
CC Provider         1502
Email               1502
Job                 1502
IP Address          1502
Language            1502
Purchase Price      1502
dtype: int64

## .apply() & Lambda
얼마나 많은 신용카드가 2025년에 만료되는 지 알아보기

## 문제1. 얼마나 많은 신용카드가 2025년에 만료되는 지 알아보기

In [69]:
sum(ecom["CC Exp Date"].apply(lambda x: int(x.split("/")[1])==25))

1033

## Lambda & .split
### 문제1. 가장 인기있는 이메일 제공자/호스트(e.g. gmail.com, yahoo.com, etc...) 상위 5 찾아내기

In [96]:
# host_dic={}

# for email in ecom["Email"]:
#     host=email.split("@")[1]
    
#     if host in host_dic:
#         host_dic[host]+=1
#     else:
#         host_dic[host]=0
        
# host_sorted=sorted(host_dic.items(),key=lambda x:x[1],reverse=True)
# host_sorted[:5]
    

ecom["Email Provider"]=ecom["Email"].apply(lambda email:email.split('@')[1])

In [97]:
ecom["Email Provider"].value_counts().head()

hotmail.com     1638
yahoo.com       1616
gmail.com       1605
smith.com         42
williams.com      37
Name: Email Provider, dtype: int64